:root {
  --white: #ffffff;
  --greyish-brown: #555555;
  --bright-sky-blue: #04befe;
}
#wrapper{
  min-width: 320px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}
a{
  text-decoration: none;
}
header{
  display: none;
}
#headerMobile{
  width: 100%;
}
#menuMobile{
  display: none;
}
#menuMobile > div{
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}
#menuMobile > div > span > a{
  color: #066cf0;
}

#btnMobile{
  width: 100%;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
}
#btnMobile > div{
    width: 1px;
    height: 20px;
    margin: 3px;
    transform: rotate(45deg);
    border: solid 1px #066cf0;
}
#headerMobile > div > img{
  width: 100%;
}

main{
  padding: 0 15px;
}
main > article{
  display: flex;
  margin: 0 40px;
  flex-direction: column;
}

main > article > div > img {
  width: 100%;

 }
main > article > div > h1{
  font-size: 28px;
  font-weight: bold;
  color: var(--greyish-brown);
}
main > article > div > p{
  font-size: 16px;
  color: var(--greyish-brown);
}
footer{
    height: 40px;
    padding: 0 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #066cf0;
  }
  .facebook-logo {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
  .instagram-social-network-logo-of-photo-camera {
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
 footer > div:first-child{
   margin-right: 40px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
  footer > div:last-child{
      display:flex;
      align-items: center;
  }
footer > div:last-child > span{
    height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
/*Input OutPut*/
#parse{
  border: 1 px solid red;
}
#parse > span{
  font-size: 28px;
  font-weight: bold;
  color: var(--greyish-brown);
}
.parseBtn, #parseBtn{
  margin-top: 14px;
  width: 190px;
  height: 50px;
  font-size: 16px;
  color: var(--white);
  border-radius: 5px;
  background-image: linear-gradient(105deg, #4481eb, var(--bright-sky-blue));
}


/*FOR HI RES DISPLAY*/

@media screen and (min-width:1200px){
  /*Header */
  #headerMobile{
    display: none;
  }
  header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #f2f8f2, #d8e4d8);
  }
  header > div:first-child{
    width: 35%;
    display: flex;
    align-items: center;    
  }
  header > div:last-child {
    width: 65%
  }
  header > div:last-child > img {
    width: 100%;
  }
  /*NAV BAR*/
  nav{
    width: 30%;
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav >span > a{
    font-size: 18px;
    color: #066cf0;
  }
  .Logo {
    margin-right: 30px;
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  /*SECTION*/
  header > div > section{
    margin-left: 40px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--greyish-brown);
  }
  header > div > section > h1{
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: bold;
  }
  header > div > section > button {
    margin-top: 16px;
    width: 190px;
    height: 50px;
    font-size: 16px;
    color: var(--white);
    border-radius: 5px;
    background-image: linear-gradient(105deg, #4481eb, var(--bright-sky-blue));
  }
  /*MAIN*/
  main{
    padding: 0 130px;
  }
  main > article{
    flex-direction: row;
  }
  main >article > div{
    width: 50%;
    padding: 120px 30px;
  }

/*FOOTER*/
  footer{
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #066cf0;
  }
  .facebook-logo {
    margin-right: 40px;
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .instagram-social-network-logo-of-photo-camera {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
 footer > div:first-child{
   margin-right: 40px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}
  footer > div:last-child{
      display:flex;
      justify-content: center;
  }
  footer > div:last-child > span{
    height: 22px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
}

